body{
    /* background-image: url(back.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100vw 100vh;
}

body a.top {
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 54px;
}

.mobilehand {
    height: 72px;
}
h1{
    color: #00bf6f;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
}
.grøn{
    color: #00bf6f;
    font-weight: bold;
    font-size: 15px;
}
.klik{
    color: #00bf6f;
    font-weight: bold;
    font-size: 15px;
    padding: 30px;
    padding-top: 0;
    text-align: center;
    margin: 0 auto;
    /* margin-left: 75px; */
    /* margin-top: -25px; */
}

.historie {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

h2 {
    color: #00bf6f;
    text-align: center;
}


section {
    flex-direction: column;
}


.media {
    display: flex;
    flex-direction:row;
    margin: 0 auto; 
    margin-top: 24px;
    text-align: center;
}

.play-ikon {
    width: 42px;
    height: 42px;
    text-align: center;
}

.lyd-ikon {
    width: 42px;
    height: 42px;
    text-align: center;
}
