/* Mikkels Mesterværk goes here */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@700;800&family=Lato:wght@700;900&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 90%;
    margin: 0 auto;
}

nav.top-nav {
    margin-top: -100px;
    z-index: 3;
}




h1, h2, h3, h4 {
    font-family: 'Lato';
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button {
    border: 3px solid #00ce6f;
    color: #00ce6f;
    padding: 12px 18px;
    margin: 0 4px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Lato';
    max-width: 180px;
    border-radius: 10px;
}

button:hover, button.active {
    padding: 12px 16.8px;
    font-weight: 800;
    color: white;
    background-color: #00bf6f;
    border: 3px solid #00bf6f;
}

#accept-terms {
    width: 100px;
    height: 100px;
}
#accept-terms {
    /* CUSTOM CHECKBOX GOES HERE  */
  }




header {
    margin-top: 100px;
    height: 50vh;
    min-height: 270px;
    max-height: 450px;
    background-image:url(../img/forside-bg.jpg);
    background-size: cover;
    padding: 32px;
    position: relative;
    z-index: 1;
}

header h1 {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 3.1rem;
    line-height: 3.3rem;
    max-width: 600px;
    text-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
}





.intro {
    display: flex;
}

.intro .textbox {
    margin: 32px;
    padding: 24px;
    background-color: #ededee;
    max-width: 740px;
    margin-top: -84px;
    z-index: 2;
    position: relative;
    border-radius: 24px;
}

.intro .textbox p:last-child {
    margin-top: 21px;
}





.item-list {
    background-color: #ededee;
}