/* Set the size of the div element that contains the map */
.sectionflex {
  display: flex;
  flex-direction: column
}

.googlemap{
  margin-left:auto;
  margin-right:auto;
  height: 500px;
  width: 50%;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
.googlemap{
  width: 90%;
}
}