/* Set the size of the div element that contains the map */

body{
    max-width: 80%;
    margin: 0 auto;
}

.sectionflex {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 3px solid #00bf6f;
}

.googlemap {
    margin-left: auto;
    margin-right: auto;
    height: 408px;
    width: 100%;
    border: 1px solid
}

h3{
    margin-top: 150px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.heks {
    width: 60%;
    max-width: 500px;
    display: flex;
    margin: 30px auto;
}

.sectionflex p {
    margin: 0 auto;
    max-width: 861px;
    font-size: 20px
}

hr {
    color: green;
    font-weight: 10px;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    margin-left: -150px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    position: fixed;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;

    list-style-type: none;
    width: 95%;
    
}

.nav-ul li a {
    display: inline-block;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    font-size: 1vw;
    font-weight: bold;
}

nav a:hover,
nav a:focus {
    color: #00bf6f;
    
}

.home {
    float: left;
}

.hamburger {
    border: 0;
    color: black;
    cursor: pointer;
    font-size: 20px;
    display: none;
    background-color: transparent;
}


.hamburger:focus {
    outline: none;
}

.nav-ul li .film {
    color: #00bf6f;
    max-width: 80px;
    border: 1px solid #00bf6f;
    border-radius: 25px;
    margin: 20px
}

.nav-ul li .film:hover {
    color: white;
    background-color: #00bf6f;
    
}

.section-email{
    max-width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    column-count: 1;
    margin: auto;
    
}

.section-email :nth-child(3),
.section-email :nth-child(4){
    margin-bottom: 20px;
    border: 1px solid #dadada;
}



input{    
    height: 50px
}



#accept{
    font-weight: bold;
    font-size: 20px;
}

#acceptbtn{
    cursor: pointer;
    height: 20px;
    margin-top: -5px;
}

#send{
    cursor:pointer;
    color: white;
    background-color: #00bf6f;
    border: 0;
    font-weight: bold;
}

#send:hover{
    color: rgb(73, 73, 73);
   
}

.sociale{
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    line-height: 40px;
}

.sociale h2{
    font-weight: 500;
}

.sociale p{
    margin-bottom: -10px;
    font-size: 18px;
    color: #837979;
}

.green{
    color: #00bf6f;
    cursor: pointer;
}

.media{
    color: #00bf6f; 
    border: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 30px;
}

.media p{
    color: black;
    font-weight: bold;
}



.logo {
   height: 70px;
}

.mobile {
    display: none;
}


/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 800px) {
    .googlemap {
        width: 100%;
    }

    body {
        max-width: 95%;
    }

    nav{
        margin-left: 0;
    }

    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .nav-ul.show {
        display: flex;

    }

    .hamburger {
        display: block;
        margin-left: 50%;
    }
.nav-ul li a{
        font-size: 10px;
    }
    .mobile{
        display: flex;
    }
}

@media screen and (min-width: 1798px) {

    .nav-ul li a{
        font-size: 18px;
    }
}

